.home-div{
    height: 93vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.home-div h1{
    margin: 40px 0;
}

.card-container{
    display: flex;
    margin-top: 20px;
}